<!DOCTYPE html>
<html>
    <head>
        <title>Silver Brick Route Optimizer</title>
        <link rel="icon" href="assets/images/favicon.jpg">
        <meta property="og:locale" content="en_US" />
        <meta property="og:title" content="Silver Brick Portal" />
        <meta property="og:url" content="https://portal.silverbrickmanagement.com" />
        <meta property="og:site_name" content="Silver Brick Portal" />
        <meta property="og:image" content="https://www.adamwolfson.com/silver.jpg" />
        <meta property="og:image:width" content="1024" />
        <meta property="og:image:height" content="1024" />
        <link rel="apple-touch-icon" href="https://www.adamwolfson.com/silver.jpg">
        <meta property="og:image:height" content="1215"/>
        <meta name="twitter:card" content="summary_large_image" />
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <link rel="stylesheet" type="text/css" href="./style.css" />
        <meta name="robots" content="noindex">
        <script src="./index.js"></script>
    </head>
    <body>
        <div id="container">
            <div id="map"></div>
            <div id="sidebar">
                <div>
                    <b>Start:</b>
                    <select id="start">
                        <option value="68 4th Place, Brooklyn, NY">68 4th Place</option>
                    </select>
                    <br /><br />
                    <b>Staff:</b>
                    <select id="staff">
                        <option value="Tyrone Deliotte">Tyrone Deliotte</option>
                    </select>
                    <br /><br />
                    <b>Method <span style="font-size: 14px;">(Walking or Riding a Bike)</span>:</b>
                    <select id="method">
                        <option value="walking">Walking</option>
                        <option value="bicycle">Bicycle</option>
                    </select><br /><br />
                    <b>Stops:</b> <br />
                    <i>(Ctrl+Click or Cmd+Click for multiple selection)</i> <br />
                    <div style="display: inline-block;">
                        <input id="newAddress" type="text" [(ngModel)]="newAddress" style="width: 300px;height: 35px;" /> <button id="addAdd">Add</button>
                    </div>
                    <select multiple id="waypoints">
                        <!-- <option *ngFor="let add of address" [value]="add">{{ add }} </option> -->
                       <!--  <option value='36 Schermerhorn Street, Brooklyn, NY'>36 Schermerhorn Street, Brooklyn, NY</option>
                        <option value='288 Carroll Street, Brooklyn, NY'>288 Carroll Street, Brooklyn, NY</option>
                        <option value='476 Henry Street, Brooklyn, NY'>476 Henry Street, Brooklyn, NY</option>
                        <option value='70 4th Place, Brooklyn, NY'>70 4th Place, Brooklyn, NY</option>
                        <option value='68 4th Place, Brooklyn, NY'>68 4th Place, Brooklyn, NY</option>
                        <option value='127 4th Place, Brooklyn, NY'>127 4th Place, Brooklyn, NY</option>
                        <option value='58 4th Place, Brooklyn, NY'>58 4th Place, Brooklyn, NY</option>
                        <option value='511 Clinton Street, Brooklyn, NY'>511 Clinton Street, Brooklyn, NY</option>
                        <option value='46 4th Place, Brooklyn, NY'>46 4th Place, Brooklyn, NY</option>
                        <option value='78 2nd Place, Brooklyn, NY'>78 2nd Place, Brooklyn, NY</option>
                        <option value='56 2nd Place, Brooklyn, NY'>56 2nd Place, Brooklyn, NY</option>
                        <option value='11 1st Place, Brooklyn, NY'>11 1st Place, Brooklyn, NY</option>
                        <option value='60 1st Place, Brooklyn, NY'>60 1st Place, Brooklyn, NY</option>
                        <option value='122 2nd Place, Brooklyn, NY'>122 2nd Place, Brooklyn, NY</option>
                        <option value='11 3rd Street, Brooklyn, NY'>11 3rd Street, Brooklyn, NY</option>
                        <option value='9 3rd Street, Brooklyn, NY'>9 3rd Street, Brooklyn, NY</option>
                        <option value='56 2nd Street, Brooklyn, NY'>56 2nd Street, Brooklyn, NY</option>
                        <option value='121 3rd Place, Brooklyn, NY'>121 3rd Place, Brooklyn, NY</option>
                        <option value='557 Henry Street, Brooklyn, NY'>557 Henry Street, Brooklyn, NY</option>
                        <option value='468 Henry Street, Brooklyn, NY'>468 Henry Street, Brooklyn, NY</option>
                        <option value='541 Henry Street, Brooklyn, NY'>541 Henry Street, Brooklyn, NY</option>
                        <option value='471 Henry Street, Brooklyn, NY'>471 Henry Street, Brooklyn, NY</option>
                        <option value='52 Cheever Place, Brooklyn, NY'>52 Cheever Place, Brooklyn, NY</option>
                        <option value='112 1st Place, Brooklyn, NY'>112 1st Place, Brooklyn, NY</option> -->
                    </select>
                    <br />
                    <b>End:</b>
                    <select id="end">
                        <option value="68 4th Place, Brooklyn, NY">68 4th Place</option>
                    </select>
                    <br />
                    <button type="submit" id="submit">Calculate</button>
                </div>
                <div id="directions-panel"></div>
            </div>
        </div>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0C_SCgt4kdYqR31VCcCJXrkLbDcck28g&callback=initMap&v=weekly" async></script>
    </body>
</html>