/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
}

#container {
    height: 100%;
    display: flex;
}

b {
    font-family: Mukta-Bold,sans-serif !important;
    line-height: 24px;
}

#waypoints {
    width:  90%;
    min-height: 400px;
    margin: 20px 0;
}

.distance {
    background-color: #ccc;
    padding: 10px;
}

button {
    border: 0px;
    padding: 5%;
    font-family: Mukta-Bold,sans-serif !important;
    border-radius: 5px;
    font-size: 15px;
    margin: 20px 0;
    background: #666;
    color: #fff;
}

#sidebar {
    flex-basis: 15rem;
    flex-grow: 1;
    padding: 1rem;
    max-width: 30rem;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
}

#map {
    flex-basis: 0;
    flex-grow: 4;
    height: 100%;
}

#directions-panel {
    margin-top: 10px;
    display: inline-grid;
}
